spring.application.name=agenda-medicos
spring.datasource.url=jdbc:oracle:thin:@localhost:1521/XEPDB1
spring.datasource.username=agenda_medicos
spring.datasource.password=TU_PASSWORD_AQUI
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true